.cover {
  display: flex;
  justify-content: center;
  background-image: url(../images/__backgroundcover.png);
  margin: auto;
  max-width: 1184px;
  height: 740px;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
  flex-direction: column;
  position: relative;
}

.cover__hov {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.cover:hover {
  background-color: #2a2c2f;
}

.cover__title {
  max-width: 656px;
  height: 76px;
  color: #ffffff;
  align-items: center;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  font-family: "Inter";
  font-weight: 900;
  position: relative;
  z-index: 1;
}

.cover__content {
  color: #ffffff;
  max-width: 280px;
  height: 66px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  align-content: center;
  position: relative;
  z-index: 1;
}

.cover__bottom {
  width: 250px;
  height: 68px;
  border-radius: 4px;
  background-color: #0278fe;
  color: #ffffff;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  border: none;
  position: relative;
  z-index: 1;
}

.cover__bottom:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    height: 746px;
  }
  .cover__title {
    max-width: 656px;
    height: 76px;
  }
  .cover__content {
    max-width: 288px;
    height: 66px;
  }

  .cover__bottom {
    max-width: 198px;
    height: 48px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 321.26px;
    height: 254px;
  }
  .cover__title {
    max-width: 288px;
    height: 35px;
  }
  .cover__content {
    max-width: 280px;
    height: 48px;
  }
  .cover__bottom {
    max-width: 198px;
    height: 48px;
  }
}
