.footer {
  width: 191px;
  height: 16px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: right;
  color: #ffffff;
  margin: auto;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 191px;
    height: 14px;
  }
}
