.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.lead__title {
  width: 793px;
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  box-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
}

.lead__subtitle {
  width: 720px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  box-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 60px;
}

.lead__image {
  width: 984px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
    max-height: 200px;
  }
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead_title {
    max-width: 288px;
    max-height: 188px;
  }

  .lead__subtitle {
    width: 288px;
    height: 40px;
  }

  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}
