.places {
  max-width: 978px;
  align-content: center;
  margin: auto;
}
.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 20px;
  max-width: 984px;
  max-height: 756px;
}

.place__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
}

.place__photo {
  max-width: 460px;
  width: 100%;
}

.place__subtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #aaaaaa;
  align-self: end;
}

.place__artist {
  width: 456px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.place__paragraph {
  grid-row: 2/4;
  grid-column-start: 2;
}

.place__text {
  width: 484px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  color: #ffffff;
}

.place__button {
  width: 400px;
  height: 48px;
  border-radius: 4px;
  padding: 13px 20px 13px 20px;
  gap: 10px;
  background-color: #0278fe;
  color: #ffffff;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: block;
  }
}
